body{

    background-image: url(immagini/immagine1.jpg);
}

div{

    text-align: center;
}

h2{
    text-align: center;
    font-size: xx-large;
    color: white;
    position: relative;
    top: -150px;

    left: 818px;

    font-style: comic sans ms;
}



.corpo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 400px;
    margin: 0;
    
}



.livello {
    color:white;
    margin: 0;
    position: relative;
    top: -75px;
    font-size: 20px;
    font-weight: bold;
}



.card {

    position: relative;
    left: 10px;
    color: white;
    font-size: 700px;
    border: 4px solid white;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 75px;
    padding-left: 75px;;
    border-radius: .25rem;
}



.testo {
    margin: 5px 0 0;
    font-size: 14px;
    color: white;
}


.prezzo {
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.abbonamenti{
    width: 300px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    flex-direction: row;             
    justify-content: center;   
    align-items: flex-start;   
    flex-wrap: nowrap; 
    font-family: Arial, sans-serif;


}


.spazio{

    height: 400px;
}

.immagine{

	width: 600px;
}

h3{
	font-size: xx-large;
	color:rgb(146, 2, 2);
}

h1{
	text-align: center;
	font-size: xx-large;
	color:yellow;
}

.immagine2{

	width: 700px;
	float: center;
}


a{

    color: yellow;
    font-size: 30px;
    border: 4px solid yellow;
    padding: 7px 10px;
    border-radius: .25rem;

}

#SOTTOTITOLO{

    font-size: xx-large;
    color:rgb(6, 117, 25);
}

#SOTTOTITOLO2{

    font-size: xx-large;
    color:rgb(21, 3, 91);
}

.testo{

	font-size: x-large;
    color:white;
}

.locandine {

    width: 400px;
}


.abbonamento{

    position: absolute;
    top: 10px;
    right: 10px;
}

.back{

    position: absolute;
    bottom: 50px;
    right: 20px;;
}

.backStoria{

    position:absolute;
    bottom: -1450px;
    right: 20px;
}

.bottone{

    position:relative;
    align-items: center;
    top: 300px;
    right: 900px;
    padding: 5px;
    font-size:30px;
    background-color: black;
    color: white;
    border-radius: 10%;
    border-color: white;
}

.bottone1{

    position:relative;
    align-items: center;
    top: 300px;
    right: 770px;
    padding: 5px;
    font-size:30px;
    background-color: black;
    color: white;
    border-radius: 10%;
    border-color: white;
}

.vantaggi{

    position: absolute;
    top : 850px;
    right: 750px;
    left: auto;
    color: white;
    font-size: 35px;

}

.tabella{

    color: white;
    font-size: 25px;
    position: absolute;
    top : 1000px;
    right: 590px;
    left: auto;
    text-align: center;

}

.bordi{
    border-bottom: 2px solid white;
    border-color: white;
    padding-left: 50px;
    padding-right: 50px;
}


