body{

    background-image: url(immagini/immagine1.jpg);
}

div{

    text-align: center;
}

#SPAZIO{

    height: 400px;
}

#IMMAGINE{

	width: 600px;
}

h3{
	font-size: xx-large;
	color:rgb(146, 2, 2);
}

h1{
	text-align: center;
	font-size: xx-large;
	color:yellow;
}

#IMMAGINE2{

	width: 700px;
	float: center;
}

a{

    color: yellow;
    font-size: 30px;
    border: 4px solid yellow;
    padding: 7px 10px;
    border-radius: .25rem;

}

#SOTTOTITOLO{

    font-size: xx-large;
    color:rgb(6, 117, 25);
}

#SOTTOTITOLO2{

    font-size: xx-large;
    color:rgb(21, 3, 91);
}

#TESTO{

	font-size: x-large;
    color:white;
}

#LOCANDINE{

    width: 400px;
}

