body{

    background-image: url(immagini/immagine1.jpg);
}

div{

    text-align: center;
}

h2{
    text-align: center;
    font-size: xx-large;
    color: white;
    position: relative;
    top: -150px;
    left: 800px;
    font-style: comic sans ms;
}



.corpo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 400px;
    margin: 0;
    
}



.livello {
    color:white;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}



.card {

    position: relative;
    left: -130px;
    color: white;
    font-size: 700px;
    border: 4px solid white;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 75px;
    padding-left: 75px;;
    border-radius: .25rem;
}



.testo {
    margin: 5px 0 0;
    font-size: 14px;
    color: white;
}


.prezzo {
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.abbonamenti{
    width: 300px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    flex-direction: row;             
    justify-content: center;   
    align-items: flex-start;   
    flex-wrap: nowrap; 
    font-family: Arial, sans-serif;


}


#SPAZIO{

    height: 400px;
}

#IMMAGINE{

	width: 600px;
}

h3{
	font-size: xx-large;
	color:rgb(146, 2, 2);
}

h1{
	text-align: center;
	font-size: xx-large;
	color:yellow;
}

#IMMAGINE2{

	width: 700px;
	float: center;
}


a{

    color: yellow;
    font-size: 30px;
    border: 4px solid yellow;
    padding: 7px 10px;
    border-radius: .25rem;

}

#SOTTOTITOLO{

    font-size: xx-large;
    color:rgb(6, 117, 25);
}

#SOTTOTITOLO2{

    font-size: xx-large;
    color:rgb(21, 3, 91);
}

#TESTO{

	font-size: x-large;
    color:white;
}

#LOCANDINE{

    width: 400px;
}

