body{

    background-image: url(immagini/immagine1.jpg);
}

div{

    text-align: center;
}

h2{
    text-align: center;
    font-size: xx-large;
    color: white;
    position: relative;
    top: 200px;
    font-style: comic sans ms;
}

.livello{

    font-size: x-large;
    text-align: left;
    justify-content: center;
    color: white;   
    position: relative;
    top: -100px;
    left: 100px;
}

.nascosto{

    color: black;
}


#PREZZO{

    font-size: x-large;
}

.testoAbbonamento{
    font-size: large;
    text-align: center;
    justify-content: center;
    color: white;
     
}

.abbonamenti{
    display: flex;
    gap: 4px;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 400px;
    
}

/*#NOME{
    position: absolute;
    top: 300px;
    right: 750px;
    color: black;
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid rgb(255, 255, 0);
}*/

#SPAZIO{

    height: 400px;
}

#IMMAGINE{

	width: 600px;
}

h3{
	font-size: xx-large;
	color:rgb(146, 2, 2);
}

h1{
	text-align: center;
	font-size: xx-large;
	color:yellow;
}

#IMMAGINE2{

	width: 700px;
	float: center;
}

#ABBONAMENTO{
   
    position: absolute;
    top: 20px;
    right: 10px;
}

a{

    color: yellow;
    font-size: 30px;
    border: 4px solid yellow;
    padding: 7px 10px;
    border-radius: .25rem;

}

#SOTTOTITOLO{

    font-size: xx-large;
    color:rgb(6, 117, 25);
}

#SOTTOTITOLO2{

    font-size: xx-large;
    color:rgb(21, 3, 91);
}

#TESTO{

	font-size: x-large;
    color:white;
}

#LOCANDINE{

    width: 400px;
}

